[Desktop Entry]
Name=express vpn stop
Comment=stop express vpn, bring wlp4s0 back up
Exec=/home/username/Scripts/stop_expressvpn.sh
Icon=/var/lib/expressvpn/icons/expressvpn.png
Terminal=true
Type=Application
Name[en_GB]=stop expressvpn
